.dotter/cache.toml
.dotter/local.toml
.dotter/cache/
.vscode/
.DS_Store
build/
dist/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
*.aux
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.run.xml
*.nav
*.snm
